button{
	  display: inline-block;
    width: 200px;
    height: 300px;
    padding: 0px;
    margin: 20px;
    border: 0px;
    color: black;
    background-color: #eeeeee;
    border: 2px solid #000000;
  
    text-align: center;
    vertical-align:text-bottom;
    text-decoration: none;
    
     background-repeat:no-repeat;
   background-position:top;
   padding-top:80px; 
	}
button:active {
		background-color: #aaaaaa;
		}
.button_simple{	  
    background-color: #cccccc;
    font-size: 20px; 
    vertical-align:text-bottom;
 }   	
.button_clear{	  
		width: 100px;
    height: 100px;
    background-color: #eeeeee;
    background-image: url(images/clear_100px.jpg);
    background-repeat:no-repeat;
     background-position:center; 
 }   
		
.button_email{	  
		width: 100px;
    height: 100px;
    background-color: #eeeeee;
    background-image: url(images/email_100px.jpg);
    background-repeat:no-repeat;
     background-position:center; 
 }
 
  .button_light{	  
    background-color: #7777ff;
    border-radius: 125px;
 }
 
 .button_mistake{
 		width: 100px;
    height: 100px;
    background-color: #ff5500;
 	  background-image: url(images/mistake100px.jpg);
    background-repeat:repeat;
  background-position:center; 
 	}
 	

 .RED{
 	background-color: #ff0000;
 	border-radius: 100px;
 	}
 	
 .GREEN{
 	background-color: #00ff00;
 	border-radius: 100px;
 	}
 	
.START{
 	background-color: #ffaa00;
 
 	}

 	
 .END{
 	background-color: #ffffff;
 	}
 	
 
 		
#btn_5{	  
   background-image: url(images/g1r_100px.jpg);
  
 } 
 
#btn_6{	  
   background-image: url(images/g2l_100px.jpg);
   
 } 

#btn_1{	  
   background-image: url(images/l3q3_100px.jpg);
   
 }   
 
#btn_2{	  
   background-image: url(images/l3q12_100px.jpg);
  
 } 
 
#btn_0{	  
   background-image: url(images/l12q12_100px.jpg);
   
 }  
 
 #btn_4{	  
   background-image: url(images/l45q4_100px.jpg);
  
 } 
 
  #btn_3{	  
   background-image: url(images/l6q4_100px.jpg);
  
 } 
  #btn_7{	  
   background-image: url(images/g4l_100px.jpg);
  
 } 
  #btn_8{	  
   background-image: url(images/g5r_100px.jpg);
  
 } 



 
#btn_10{	  
    /*background-color: #ff77ff;*/
    	background-image: url(images/changelaneL2R.jpg);
   
 }
 
#btn_9{	  
   /* background-color: #ff77ff;*/
    	background-image: url(images/changelaneR2L.jpg);
   
 }
 
 #btn_14{	  
   /* background-color: #ff77ff;*/
    	background-image: url(images/pq4_100px.jpg);
   
 }
 
 #btn_15{	  
   /* background-color: #ff77ff;*/
    	background-image: url(images/p_sink_q4_100px.jpg);
    
 }
  #btn_16{	  
   /* background-color: #ff77ff;*/
    	background-image: url(images/g3_sink_100px.jpg);
    
 }

#btn_17{	  
   /* background-color: #ff77ff;*/
    	background-image: url(images/gc_sink_100px.jpg);
    
 }

	.menu{
 		width: 400px;
    height: auto;
    padding: 0px;
    /*margin: 20px;*/
    border: 0px;
 		font-size:250%;
 		border: #000000;
 		border-style:solid;
    border-width:2px;
    padding-top:150px;
    background-repeat:no-repeat;
   background-position:top; 
  	}

 		#menu_t1{
 				width: 450px;
 			background-image: url(images/menu_t1.jpg);
   
   
 			}
 		
 		#menu_x{
 	width: 450px;
 			background-image: url(images/menu_x.jpg);
  
 }
 		
 		#menu_y1{
 		width: 450px;
 			background-image: url(images/menu_y1.jpg);

 }
 		
 		#menu_q4{
 			width: 450px;
 			background-image: url(images/menu_q4.jpg);
		}
 		
 		#menu_t2{
 				width: 450px;
 			background-image: url(images/menu_t2.jpg);
  
 }
 
 	#menu_g3{
 				width: 450px;
 			background-image: url(images/menu_g3.jpg);
  
 }
 		
 		
 		